@import url(./__logo/header__logo.css);

.header {
    min-height: 74px;
    max-width: 882px;
    margin: 0 auto;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 400px) {
    .header {
        max-width: 320px;
        min-height: 31.6px;
        padding-top: 28px;
        justify-content: flex-start;
}
    }


